body {
    margin: 0;
    color: #333333;
    font-family: "Museo Sans Cyrl", sans-serif;
}

a {
    color: #6933DC;
}

@font-face {
    src: url("../fonts/MuseoSansCyrl-500.ttf");
    font-family: "Museo Sans Cyrl";
}

@font-face {
    src: url("../fonts/MuseoSansCyrl-700.ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a.button {
    display: inline-block;
}

.button {
    padding: 14px 35px;
    background: #6933DC;
    border-radius: 6px;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: .4s;

    &:hover {
        background: #2a0185;
    }

    &:disabled {
        background-color: #e2dfe7;
        cursor: not-allowed;
    }
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;

    &:hover {
        background: #6933DC;
        color: #FFFFFF;
    }

    &:disabled {
        background: transparent;
        color: #e2dfe7;
        border: 1px solid #e2dfe7;
        cursor: not-allowed;
    }
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}

.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;

    span {
        color: #6933DC;
    }
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;

    span {
        color: #6933DC;
    }
}
